<div class="ui one column grid">
  <div class="column">
    <table class="ui celled structured table">
      <thead>
        <tr>
          <th rowspan="2">Bus Number</th>
          <th rowspan="2">Total Passengers</th>
          <th rowspan="2">Availability</th>
          <th colspan="2">Last Checkpoint</th>
        </tr>
        <tr>
          <th>Checkpoint</th>
          <th>Left At</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let busStatus of busStatuses">
          <td>{{busStatus?.busNumber}}</td>
          <td>{{busStatus?.totalPassengers}}</td>
          <td *ngIf="busStatus?.availability !== 'FULL'; else full">{{busStatus?.availability}}</td>
          <ng-template #full><td class="error"><i class="attention icon"></i>{{busStatus?.availability}}</td></ng-template>
          <td>{{busStatus?.checkpoint}}</td>
          <td>{{busStatus?.time}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

