<div class="ui one column grid">
  <div class="column">
    <table class="ui celled structured table">
      <thead>
      <tr>
        <th rowspan="2">Bus Number</th>
        <th rowspan="2">Total Passengers</th>
        <th rowspan="2">Availability</th>
        <th colspan="2">Last Checkpoint</th>
      </tr>
      <tr>
        <th>Checkpoint</th>
        <th>Left At</th>
      </tr>

      </thead>
      <tbody>
      <tr>
        <td>1563</td>
        <td>20</td>
        <td>0 Seats 2 Stands</td>
        <td>Checkpoint A</td>
        <td>5:30pm</td>
      </tr>
      <tr>
        <td>7000</td>
        <td>25</td>
        <td class="error">FULL</td>
        <td>Checkpoint B</td>
        <td>5:45pm</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

