<div class="ui grid">
  <div class="row">
    <div class="ui search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search User">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
  <div class="row">
    <div class="ui center aligned icon header">
      <i class="circular user icon"></i>
      <h2>{{fullName || '-'}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="ui grid">
      <div class="nine wide column">
        <div class="ui huge label">
          Available Balance :
          <div class="detail">{{user?.balance}}</div>
        </div>
      </div>
      <div class="column" style="padding-left: 50px;">
        <div class="ui labeled action input">
          <div class="ui label">NRS</div>
          <input #balance type="text" placeholder="Amount">
          <div class="ui basic vertical animated button" (click)="onBalanceUpdate(balance.value)">
            <div class="hidden content">Add</div>
            <div class="visible content">
              <i class="add icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <button class="ui basic button" (click)="onAddCardClicked()">
      <i class="icon add"></i>
      Add Card
    </button>
  </div>
  <div class="row">
    <table class="ui fixed table">
      <thead>
      <tr>
        <th>Card #ID</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let card of user?.userRfids" [ngClass]="{'disabled error':card?.active === 0}">
        <td>{{card?.rfid?.rfidId}}</td>
        <td *ngIf="card?.active === 1; else deactivated">Active</td>
        <ng-template #deactivated><td><i class="attention icon"></i>Deactivated</td></ng-template>
        <td>
          <div class="ui icon buttons">
            <button (click)="onEditCardClicked(card)" class="ui button" [ngClass]="{'primary':card?.active === 1, 'disabled':card?.active === 0}">
              <i class="edit icon"></i>
            </button>
            <button (click)="onDeactivateCard(card)" class="ui button" [ngClass]="{'red':card?.active === 1, 'disabled':card?.active === 0}">
              <i class="trash alternate icon"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="ui modal">
  <div class="ui icon header">
    <i class="id card outline icon"></i>
    {{cardModalTitle}}
  </div>

  <div class="content">
    <form [formGroup]="cardForm" class="ui form">
      <div class="field">
        <label>Tag 1</label>
        <input type="text"
               formControlName="tag0"
               placeholder="Tag 0">
      </div>
      <div class="field">
        <label>Tag 2</label>
        <input type="text"
               formControlName="tag1"
               placeholder="Tag 1">
      </div>
      <div class="field">
        <label>Tag 3</label>
        <input type="text"
               formControlName="tag2"
               placeholder="Tag 2">
      </div>
      <div class="field">
        <label>Tag 4</label>
        <input type="text"
               formControlName="tag3"
               placeholder="Tag 0">
      </div>
      <div class="field">
        <label>Pin Code</label>
        <input type="text"
               formControlName="pin"
               placeholder="Pin Code">
      </div>
    </form>
  </div>

  <div class="actions">
    <div class="ui red basic cancel button">
      <i class="remove icon"></i>
      Cancel
    </div>
    <div class="ui green ok button">
      <i class="checkmark icon"></i>
      Submit
    </div>
  </div>
</div>

