<div class="ui grid">
  <div class="row">
    <div class="ui search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search User">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
  <div class="row">
    <div class="ui center aligned icon header">
      <i class="circular user icon"></i>
      <h2>{{fullName || '-'}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="ui grid">
      <div class="nine wide column">
        <div class="ui huge label">
          Available Balance :
          <div class="detail">{{user?.balance}}</div>
        </div>
      </div>
      <div class="column" style="padding-left: 50px;">
        <div class="ui labeled action input">
          <div class="ui label">NRS</div>
          <input type="text" placeholder="Amount">
          <div class="ui basic vertical animated button" tabindex="0">
            <div class="hidden content">Add</div>
            <div class="visible content">
              <i class="add icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <button class="ui basic button">
      <i class="icon add"></i>
      Add Card
    </button>
  </div>
  <div class="row">
    <table class="ui fixed table">
      <thead>
      <tr>
        <th>Card #ID</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let card of user?.userRfids" [ngClass]="{'disabled error':card?.active === 0}">
        <td>{{card?.rfid?.rfidId}}</td>
        <td *ngIf="card?.active === 1; else deactivated">Active</td>
        <ng-template #deactivated><td><i class="attention icon"></i>Deactivated</td></ng-template>
        <td>
          <div class="ui icon buttons">
            <button class="ui button">
              <i class="edit icon"></i>
            </button>
            <button class="ui button">
              <i class="trash alternate icon"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
