<div class="ui segment" id="registration-box">
  <form class="ui form">
    <div class="three fields">
      <div class="required field">
        <label>First name</label>
        <input type="text" placeholder="First Name">
      </div>
      <div class="field">
        <label>Middle name</label>
        <input type="text" placeholder="Middle Name">
      </div>
      <div class="required field">
        <label>Last name</label>
        <input type="text" placeholder="Last Name">
      </div>
    </div>

    <div class="grouped fields" id="password-fields">
      <div class="required field">
        <label>Password</label>
        <input type="password" placeholder="Password">
      </div>
      <div class="required field">
        <label>Confirm Password</label>
        <input type="password" placeholder="Confirm Password">
      </div>
    </div>

    <div class="grouped fields" id="email-fields">
      <div class="required field">
        <label>Email</label>
        <input type="email" placeholder="Email">
      </div>
      <div class="required field">
        <label>Confirm Email</label>
        <input type="email" placeholder="Confirm Email">
      </div>
    </div>

    <div class="field" id="phone-field">
      <label>Phone</label>
      <input type="password" placeholder="Phone">
    </div>

    <div class="ui primary button" tabindex="0">Submit</div>
  </form>
</div>

